<div class="footer-container"><!--底部容器-->
      <div class="footer-top">
          <div class="footer-top-one">
              <span class="iconfont icon-bottom-logo"></span>
              <p>专注于用户体验设计与前端开发的独立设计师，致力于创造有价值的数字产品。</p>
          </div>
        <div class="footer-top-two">
            <p class="footer-top-title">快速导航</p>
            <p>首页</p>
            <p>关于我们</p>
            <p>作品集</p>
            <p>文章</p>
        </div>
        <div class="footer-top-three">
            <p class="footer-top-title">联系方式</p>
            <p>邮箱:492205866@qq.com</p>
            <p>微信:137****8349</p>
            <p>地址:广东省深圳市龙华区民治街道东二村</p>
        </div>
        <div class="footer-top-four">
              <p class="footer-top-title">社交媒体</p>
              <span class="iconfont icon-xiaohongshu"></span>
              <span class="iconfont icon-douyin"></span>
              <span class="iconfont icon-zhanku"></span>
          </div>
    </div>
    <div class="footer-bottom">
        <p>© 2025 兰博的个人网站. All rights reserved.</p>
    </div>
</div>

